In [1]:
from mobbi import Mobbi
from selenium.webdriver.common.by import By
import pandas as pd
from sqlalchemy import create_engine

In [2]:
database_url = 'postgresql://postgres:windows8@localhost/web_scraping'

In [3]:
engine = create_engine(database_url)
conn = engine.connect()

In [4]:
columns = ['car_brand',
           'car_model', 
           'car_variant', 
           'car_price', 
           'car_transmission', 
           'car_mileage',
           'car_year',
           'car_location',
           'car_link'
           ]

In [5]:
def find_cars(cars, df):
    for car in cars:
        car_info = {}
        car_brand = car.get_attribute('data-product-brand')
        if car_brand == None:
            continue
        car_model = car.get_attribute('data-product-category')
        car_variant = car.get_attribute('data-product-variant')
        car_price = int(float(car.get_attribute('data-product-price')))
        car_transmission = car.get_attribute('data-product-transmission')
        car_mileage = int(car.get_attribute('data-product-mileage'))
        car_year = int(car.get_attribute('data-product-year'))
        car_location = car.get_attribute('data-product-location')
        car_link = car.find_element(
            By.TAG_NAME,
            "a"
        ).get_attribute('href')

        car_info['car_brand'] = car_brand
        car_info['car_model'] = car_model
        car_info['car_variant'] = car_variant
        car_info['car_price'] = car_price
        car_info['car_transmission'] = car_transmission
        car_info['car_mileage'] = car_mileage
        car_info['car_year'] = car_year
        car_info['car_location'] = car_location
        car_info['car_link'] = car_link

        df.loc[len(df)] = car_info

    return df

In [6]:
df = pd.DataFrame(columns=columns)
df

Empty DataFrame
Columns: [car_brand, car_model, car_variant, car_price, car_transmission, car_mileage, car_year, car_location, car_link]
Index: []

In [7]:
mobbi = Mobbi(teardown=False)

mobbi.land_first_page()
mobbi.close_popup()
for i in [1, 2, 3]:
    mobbi.click_textbox()
    mobbi.select_brand(i)
    mobbi.inf_scroll()
    cars = mobbi.get_elements()
    df = find_cars(cars, df)

NoSuchWindowException: Message: no such window: target window already closed
from unknown error: web view not found
  (Session info: chrome=115.0.5790.111)
Stacktrace:
Backtrace:
	GetHandleVerifier [0x00007FF6350D4A62+57106]
	(No symbol) [0x00007FF63504CF52]
	(No symbol) [0x00007FF634F1E2CB]
	(No symbol) [0x00007FF634EFDEB9]
	(No symbol) [0x00007FF634F7AE07]
	(No symbol) [0x00007FF634F8DBEF]
	(No symbol) [0x00007FF634F76793]
	(No symbol) [0x00007FF634F4CE81]
	(No symbol) [0x00007FF634F4E064]
	GetHandleVerifier [0x00007FF635384222+2873042]
	GetHandleVerifier [0x00007FF6353D6590+3209792]
	GetHandleVerifier [0x00007FF6353CF3AF+3180639]
	GetHandleVerifier [0x00007FF635165F25+652245]
	(No symbol) [0x00007FF635058618]
	(No symbol) [0x00007FF6350547C4]
	(No symbol) [0x00007FF6350548BC]
	(No symbol) [0x00007FF635044C33]
	BaseThreadInitThunk [0x00007FFCC10926AD+29]
	RtlUserThreadStart [0x00007FFCC28AAA68+40]

In [8]:
df

,car_brand,car_model,car_variant,car_price,car_transmission,car_mileage,car_year,car_location,car_link
0,Toyota,YARIS,YARIS 1.5 S CVT GR SPORT,285600000,AT,10634,2021,Kota Bekasi,https://www.mobbi.id/in/mobil-bekas/toyota-yar...
1,Toyota,AVANZA,VELOZ 1.5 Q CVT,285600000,AT,15338,2022,Kota Bekasi,https://www.mobbi.id/in/mobil-bekas/toyota-ava...
2,Toyota,RAIZE,RAIZE 1.0T GR SPORT CVT TSS,280500000,AT,15244,2021,Kota Bekasi,https://www.mobbi.id/in/mobil-bekas/toyota-rai...
3,Toyota,RAIZE,GR TURBO SPORT TSS 2T (RAIZE),260000000,AT,11878,2022,Kota Bandung,https://www.mobbi.id/in/mobil-bekas/toyota-rai...
4,Toyota,INNOVA,V (INNOVA),423300000,AT,23178,2022,Kota Tangerang Selatan,https://www.mobbi.id/in/mobil-bekas/toyota-inn...
...,...,...,...,...,...,...,...,...,...
699,Honda,MOBILIO,MOBILIO E MT (NEW),168300000,MT,13332,2018,Kab. Bekasi,https://www.mobbi.id/in/mobil-bekas/honda-mobi...
700,Honda,BRIO,RS (BRIO),166000000,AT,35305,2018,Kota Bekasi,https://www.mobbi.id/in/mobil-bekas/honda-brio...
701,Honda,BR-V,1.5 CVT PRESTIGE,288100000,Automatic,8663,2022,Kota Jakarta Selatan,https://www.mobbi.id/in/mobil-bekas/honda-br-v...
702,Honda,MOBILIO,E (MOBILIO),186000000,AT,53260,2019,Kota Bandung,https://www.mobbi.id/in/mobil-bekas/honda-mobi...
703,Honda,BR-V,E PRESTIGE (BR-V),207000000,AT,54987,2017,Kota Surabaya,https://www.mobbi.id/in/mobil-bekas/honda-br-v...

In [19]:
df.loc[df['car_transmission'] == "AT", 'car_transmission'] = 'Automatic'
df.loc[df['car_transmission'] == "MT", 'car_transmission'] = 'Manual'

In [21]:
df.describe()

          car_price    car_mileage     car_year
count  7.040000e+02     704.000000   704.000000
mean   1.828170e+08   49461.413352  2019.674716
std    9.758263e+07   41278.722238     2.576983
min    8.300000e+07     979.000000  2007.000000
25%    1.209844e+08   19109.000000  2018.000000
50%    1.440250e+08   36624.500000  2020.000000
75%    2.187500e+08   69926.750000  2022.000000
max    1.013000e+09  263579.000000  2023.000000

In [22]:
df.to_csv("out.csv", index=False)

In [23]:
df.to_sql('Internship_Anthony_mobbi_data',
           con=conn,
           if_exists='replace',
           index=False)

704

In [25]:
df[df["car_brand"] == "Daihatsu"]

,car_brand,car_model,car_variant,car_price,car_transmission,car_mileage,car_year,car_location,car_link
285,Daihatsu,AYLA,R (AYLA),129000000,Manual,31267,2018,Kota Pekanbaru,https://www.mobbi.id/in/mobil-bekas/daihatsu-a...
286,Daihatsu,SIGRA,R DELUXE (SIGRA),139000000,Manual,30013,2020,Kota Jakarta Utara,https://www.mobbi.id/in/mobil-bekas/daihatsu-s...
287,Daihatsu,XENIA,R (XENIA),158000000,Manual,60148,2018,Kota Semarang,https://www.mobbi.id/in/mobil-bekas/daihatsu-x...
288,Daihatsu,TERIOS,R DELUXE (TERIOS),217000000,Automatic,47298,2019,Kota Bekasi,https://www.mobbi.id/in/mobil-bekas/daihatsu-t...
289,Daihatsu,TERIOS,R DELUXE (TERIOS),209000000,Automatic,72034,2018,Kota Jakarta Pusat,https://www.mobbi.id/in/mobil-bekas/daihatsu-t...
...,...,...,...,...,...,...,...,...,...
608,Daihatsu,SIGRA,1.0 M M/T MC,124162500,Manual,9424,2022,Kota Jakarta Selatan,https://www.mobbi.id/in/mobil-bekas/daihatsu-s...
609,Daihatsu,AYLA,R (AYLA),137000000,Manual,11353,2020,Kota Surabaya,https://www.mobbi.id/in/mobil-bekas/daihatsu-a...
610,Daihatsu,GRANMAX,PU 1.5 M/T,126850000,Manual,13671,2022,Kota Jakarta Selatan,https://www.mobbi.id/in/mobil-bekas/daihatsu-g...
611,Daihatsu,AYLA,R DELUXE (AYLA),137000000,Manual,19091,2020,Kota Surabaya,https://www.mobbi.id/in/mobil-bekas/daihatsu-a...
612,Daihatsu,AYLA,R DELUXE NEW (AYLA),135000000,Manual,25733,2020,Kota Surabaya,https://www.mobbi.id/in/mobil-bekas/daihatsu-a...